{% extends "components/base.html" %}

{% block title %}All Users{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="jumbotron">
          <h3>All Users</h3>
          
          
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
              </tr>
            </thead>
    
            <tbody>
              {% for user in users %}
                <tr>
                  <td>{{user['name']|e}}</td>
                  <td>{{user['email']|e}}</td>
                </tr>
              {% endfor %}    
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
  </div>
      
{% endblock %}